@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts { 
    <script src="~/Scripts/jquery.signalR-1.0.0-alpha2.min.js" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            // Proxy created on the fly          
            var info = $.connection.InfoHub;

            info.client.sendMessage = function (message) {
                $('#messages').append('<li>' + message + '</li>');
            };

            // Start the connection
            $.connection.hub.start().done(function () {
                info.invoke('subscribe', 'Product');
                $('#messages').append('<li>invoked subscribe</li>');
                $("#broadcast").click(function () {
                    // Call the chat method on the server
                    info.invoke('publish', $("#msg").val(), 'Product');
                });

            });

            
            
        });
    </script>
}
  <div>
    <input type="text" id="msg" />
    <input type="button" id="broadcast" value="broadcast" />
<ul id="messages">
</ul>
  </div>
<div>
    <input type="text" id="codeTxt" />
    <input type="button" id="codeBtn" value="enter" />
</div>
