@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    new TDJ.Homewatch.Web.Controllers.LogEvent("Enter Info View").Raise();
    }
<div>
    <div>
        <input type="text" id="msg" />
        <input type="button" id="broadcast" value="broadcast" />
        <ul id="messages">
        </ul>
    </div>
    <div>
        <input type="button" id="sub" value="subscribe" />
    </div>
</div>
@{
    new TDJ.Homewatch.Web.Controllers.LogEvent("Before script").Raise();
    }
@section Scripts {
    <script src="~/Scripts/jquery.signalR-1.0.0-rc1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            // Proxy created on the fly          
            var info = $.connection.info;

            info.client.sendMessage = function (message) {
                $('#messages').append('<li>' + message + '</li>');
            };

            $("#sub").click(function () {
                info.server.subscribe("Product");
                $('#messages').append('<li>invoked subscribe</li>');
            });

            // Start the connection
            $.connection.hub.start().done(function () {

                $("#broadcast").click(function () {
                    // Call the chat method on the server
                    info.server.publish($("#msg").val(), "Product");
                    //info.invoke('publish', $("#msg").val(), 'Product');
                });

            });


        });
    </script>
}
@{
    new TDJ.Homewatch.Web.Controllers.LogEvent("After script").Raise();
    }
